<h2>S'inscrire</h2>

<%= render 'shared/signupform' %>

<!-- <%= simple_form_for(:user, url: user_registration_path) do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %> -->
