

<div class="row">
  <div class="col-xs-12 col-md-6">



    <div class="row">
      <% @farmers.each do |farmer| %>
        <div class="col-xs-12 col-sm-6">
          <%= link_to conversations_user_id_path, class: "message" do %>
            <i class="fas fa-comments"></i>
          <% end %>
          <%= link_to user_bookings_path(farmer.id), method: :post, class: "book" do %>
            <i class="fas fa-calendar-alt"></i>
            <% end %>
          <%= link_to(user_path(farmer.id)) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/difvium2h/image/upload/v1542969573/<%= farmer.profile_picture %>.jpg');">
              <p class="card-category">DISPO</p>
              <p class="price" >  <%= farmer.price %> € <span class="jour">/jour</span></p>

                <p></p>
              <div class="card-description">
                <h2> <%=  farmer.first_name %> <%= farmer.last_name %></h2>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="map">
      <div
      id="map"
      style="width: 100%;
      height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
      </div>
    </div>
  </div>
</div>
