<div class="row">
  <div class="col-xs-12 col-md-6">



    <div class="row">
      <% @farmers.each do |farmer| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" >
            <%= link_to(user_path(farmer.id)) do %>

            <%= cl_image_tag(farmer.profile_picture, height: 180, width: 300) %>
            <div class="card-description">
              <h2> <%=  farmer.first_name %> <%= farmer.last_name %></h2>
              <p>  <%= farmer.skills %></p>
              <p>  <%= farmer.price %></p>
              <p><%= link_to '<i class="fas fa-envelope message"></i>'.html_safe, user_conversation_path(farmer) %></p>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>



    </div>

  </div>
  <div class="col-xs-12 col-md-6">
    <div
      id="map"
      style="width: 100%;
      height: calc(100vh - 70px);"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
  </div>
</div>
