<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<ul>
<li><%= @user.city %></li>
<li><%= @user.bio %></li>

<li><%= @user.price %> € / jour</li>
</ul>


<%= cl_image_tag(@user.profile_picture, :width=>150, :height=>150, :gravity=>"face", :radius=>"max", :crop=>"fill") %>

<ul>
<li><%= link_to "Voir les commentaires", review_path(@user) %></li>
<li><%= link_to "Ecrire à #{@user.first_name}", user_conversation_path(@user) %></li>
<li><%= link_to "Solliciter", user_bookings_path(@user) , method: :post %></li>
</ul>

