<div class="container">

<div class="banner"
style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%,
rgba(0,36,61,0.6) 50%),
url('https://images.unsplash.com/photo-1537721664796-76f77222a5d0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f49bd26bc420d57d481dff74676e94d8&auto=format&fit=crop&w=1350&q=80');">


<div class="banner-content">
    <h1>Bienvenue sur la Pioche</h1>
    <p>Redescendez sur terre.</p>
  </div>
</div>

<div class="signup">
<p>Vous êtes un jardinier expérimenté ou vous souhaitez en contacter un ? <br></p>
<h2>Inscrivez-vous.</h2>

<%= simple_form_for(:user, url: user_registration_path) do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: 'Mot de passe',
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
    label: 'Confirmation du mot de passe',
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
    label: 'Prénom',
                required: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
    label: 'Nom',
                required: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :profile_picture, as: :file %>
    <%= f.input :city,
                required: true %>
    <%= f.input :bio,
                required: true %>
    <%= f.input :isFarmer, label: 'Souhaitez-vous proposer vos services ?', as: :radio_buttons %>
    <div class="farmervalid">
      <%= f.input :price,
                  required: true %>
      <%= f.input :skills,
                  required: true %>
      <%= f.input :dispos, as: :radio_buttons, collection: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'], wrapper: :vertical_collection_inline %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Je m'inscris" %>
  </div>
<% end %>
</div>
</div>

